.top-footer
    footer.container.py-6
        .row
            .col-md-6.col-lg-4.col-12.d-md-block.d-flex.justify-content-center
                a(href="./index.php")
                    img(src="img/logo.svg", alt="Logo")
            .col-md-6.col-lg-3.col-8.mx-auto.mt-4.mt-lg-0
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0(href='./empresa.php') Empresa
                    li.nav-item.mb-2
                        a.nav-link.p-0(href='./productos.php') Productos
                    li.nav-item.mb-2
                        a.nav-link.p-0(href='./marcas.php') Marcas
                    li.nav-item.mb-2
                        a.nav-link.p-0(href='./contacto.php') Contacto
            .col-md-6.col-lg-3.col-8.mx-auto.mt-4.mt-lg-0
                ul.nav.flex-column
                    li.nav-item.mb-3
                        a.nav-link.p-0(href='mailto:ventasmayor@aunovit.com')
                            img(src="icon/email.png", alt="Email" width="25").me-3
                            |ventasmayor@aunovit.com
                    li.nav-item.mb-3
                        a.nav-link.p-0(href='tel:+5491170780416')
                            img(src="icon/audifono.png", alt="Phone" width="25").me-3
                            |+54 9 11 7078 0416
                    li.nav-item.mb-3
                        a.nav-link.p-0(href='https://wa.me/5491168581006')
                            img(src="icon/whatsapp.png", alt="Whatsapp" width="25").me-3
                            |+54 9 11 6858 1006
            .col-lg-2.col-8.mx-auto.mt-2.mt-lg-0
                a.btn.btn-primary.mt-lg-4.mt-4(href='./login.php')
                    |Acceso Clientes
                    i.bi.bi-arrow-right.ms-2
                a.btn.btn-outline-primary.mt-lg-4.mt-4(href='./catalogo.php')
                    |Catálogo
                    i.bi.bi-arrow-down.ms-2
