header
    //
    nav.navbar.navbar-expand-md.fixed-top.bg-white.py-4.py-lg-2.border-bottom
        .container
            a.navbar-brand(href="./index.php")
                embed(src="img/logo.svg", type="image/png", alt="Logo")
            button.navbar-toggler.border-0(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse.justify-content-end
                ul.nav.nav-pills.align-items-center.d-lg-flex
                    - for (var i = 0; i < menu.length; i++)
                        - if (menu[i].active)
                            li.nav-item.me-lg-2.position-relative
                                a.nav-link.active(href=menu[i].url) !{menu[i].name}
                        - else
                            li.nav-item.me-lg-2.position-relative
                                a.nav-link(href=menu[i].url) !{menu[i].name}
                    li.nav-item.me-lg-2.me-md-3.mt-4.mt-lg-auto.ms-3
                        a.btn.btn-outline-primary(href='./catalogo.php')
                            | Catálogo
                            i.bi.bi-arrow-down.ms-2
                    li.nav-item.mt-4.mt-lg-auto.ms-3
                        a.btn.btn-primary(href='./login.php')
                            |Acceso Clientes
                            i.bi.bi-arrow-right.ms-2


