meta(name="viewport" content="width=device-width, initial-scale=1")
meta(charset="utf-8")
title !{title}
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap", rel="stylesheet")
link(href="css/bootstrap.css" rel="stylesheet")

// add favicon
link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
link(rel="manifest", href="img/favicon/site.webmanifest")
