section.container.mt-lg-5.mb-lg-7
    .owl1.owl-carousel
        .card.border-0.col-lg-11.my-lg-4.rounded-4.mx-4.mx-md-4
            img.card-img-top(src="img/slider-image/img.png", alt="...").rounded-top-4
            .card-body
                h5.card-title.text-primary.fw-normal.display-8 Variedad de Stock
                .raya.w-20.mb-lg-4.mt-lg-3.mt-3.mb-4
                p.card-text.fs-6.fw-light
                    |La cantidad de artículos por marca así como el volumen de stock nos diferencias en la oferta, resolviendo todo el abanico de necesidades en un solo lugar.
                    | #[br]
                    | #[br]
                    | #[br]
        .card.border-0.col-lg-11.my-lg-4.rounded-4.mx-4.mx-md-4
            img.card-img-top(src="img/slider-image/img_1.png", alt="...").rounded-top-4
            .card-body
                h5.card-title.text-primary.fw-normal.display-8 Atención personalizada
                .raya.w-20.mb-lg-4.mt-lg-3.mt-3.mb-4
                p.card-text.fs-6.fw-light
                    | Construimos relaciones sólidas con cada cliente, respondiendo siempre a todas las inquietudes, asesorando de cerca y ofreciendo las mejores soluciones.
                    | #[br]
                    | #[br]
                    | #[br]
        .card.border-0.col-lg-11.my-lg-4.rounded-4.mx-4.mx-md-4
            img.card-img-top(src="img/slider-image/img_2.png", alt="...").rounded-top-4
            .card-body
                h5.card-title.text-primary.fw-normal.display-8 Planta especializada
                .raya.w-20.mb-lg-4.mt-lg-3.mt-3.mb-4
                p.card-text.fs-6.fw-light En Aunovit contamos una planta diseñada específicamente para responder en tiempo y forma con los pedidos y las ventas a lo largo y ancho del país. Contamos con un equipo de más de 200 personas para garantizar el éxito en todo el proceso.