<table>
    <tr>
        <td>Nombre y apellido</td>
        <td>{{ @message['name'] }}</td>
    </tr>
    <tr>
        <td>Negocio / Local</td>
        <td>{{ @message['business'] }}</td>
    </tr>
    <tr>
        <td>Teléfono</td>
        <td>{{ @message['phone'] }}</td>
    </tr>
    <tr>
        <td>Correo electrónico</td>
        <td>{{ @message['email'] }}</td>
    </tr>
    <tr>
        <td>Localidad</td>
        <td>{{ @message['address1'] }}</td>
    </tr>
    <tr>
        <td>Provincia</td>
        <td>{{ @message['address2'] }}</td>
    </tr>
    <tr>
        <td>Mensaje</td>
        <td>{{ @message['message'] }}</td>
    </tr>
    <tr>
        <td>¿Ya tienes un negocio de repuestos?</td>
        <td>{{ @message['youhavebusiness'] }}</td>
    </tr>
</table>