extends layouts/main.pug
block variables
    -   var title = "Aunovit | Catalogo";

    -
        var menu = [
            { name: "Empresa", url: "./empresa.php", active: false },
            { name: "Productos", url: "./productos.php", active: false },
            { name: "Marcas", url: "./marcas.php", active: false },
            { name: "Contacto", url: "./contacto.php", active: false }
        ];
block content
    section.catatalogo-one.bg-primary
        .container.py-lg-8.pb-5.pt-7
            .row
                .col-lg-6.order-lg-0.order-1
                    img(src='img/catalogo/section-one.png').w-80.mx-auto.d-lg-flex.d-block
                .col-lg-6.align-items-center.d-lg-flex.order-lg-1.order-0
                    div
                        h1.text-white.display-6.text-start.d-none.d-lg-block
                            | Catálogo digital, #[br]
                            | CASAPARTS
                        h1.text-white.display-5.text-center.text-lg-start.d-block.d-lg-none.mt-4
                            | Catálogo digital, #[br]
                            | CASAPARTS
                        h2.display-8.text-white.my-lg-4.text-center.my-4.text-lg-start
                            | En constante renovación Casaparts brinda la información necesaria para que tu mostrador sea ágil, con precios seguros y competitivos.
                        .text-white.text-center.text-lg-start
                            | Cada producto consultado ofrece fotos de distintos ángulos para la búsqueda correcta de artículos, consultar stock, precio actualizado segundo a segundo, consulta de cta cte y envío de pedidos con un solo click.
                        .mt-lg-5.mb-lg-0.mb-5.justify-content-center.d-flex.mt-5.justify-content-lg-start
                            a(href='./contacto.php').btn.btn-outline-light
                                | Dejanos tus datos
                                i.bi.bi-arrow-right.ms-2
    section.container.mt-lg-7.mb-lg-7.col-11.col-md-12.px-3.px-md-auto.mb-5.mt-lg-n7.mt-5
        .card.border-0.px-lg-6.py-lg-5.rounded-4.px-4.py-5.d-none.d-md-block
            h1.text-center.text-primary.display-7.mb-lg-6.fw-normal
                | En nuestro catálogo Autoparts va a tener todo en 1 solo lugar:
            .row
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/tag.png').mx-auto.d-block.w-30
                    h5.text-primary.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Precios #[br]
                        | actualizados
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/image-product.png').mx-auto.d-block.w-30
                    h5.text-primary.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Imágenes de #[br]
                        | cada producto
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/lupa.png').mx-auto.d-block.w-30
                    h5.text-primary.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Búsqueda #[br]
                        | inteligente
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/megafono.png').mx-auto.d-block.w-30
                    h5.text-primary.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Banners #[br]
                        | informativos
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/papel.png').mx-auto.d-block.w-30
                    h5.text-primary.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Novedades #[br.d-none.d-lg-block]
                        | diarias
        .border-0.px-lg-6.py-lg-5.rounded-4.px-4.py-4.d-block.d-md-none
            h1.text-center.text-primary.display-7.mb-lg-6
                | En nuestro catálogo Autoparts va a tener todo en 1 solo lugar:
            .row
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/tag.png').mx-auto.d-block.w-30
                    h5.text-primary.display-8.mt-lg-4.mt-3.text-center
                        | Precios #[br]
                        | actualizados
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/image-product.png').mx-auto.d-block.w-30
                    h5.text-primary.display-8.mt-lg-4.mt-3.text-center
                        | Imágenes de #[br]
                        | cada producto
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/lupa.png').mx-auto.d-block.w-30
                    h5.text-primary.display-8.mt-lg-4.mt-3.text-center
                        | Búsqueda #[br]
                        | inteligente
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/megafono.png').mx-auto.d-block.w-30
                    h5.text-primary.display-8.mt-lg-4.mt-3.text-center
                        | Banners #[br]
                        | informativos
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/papel.png').mx-auto.d-block.w-30
                    h5.text-primary.display-8.mt-lg-4.mt-3.text-center
                        | Novedades #[br.d-none.d-lg-block]
                        | diarias