extends layouts/main.pug
block variables
    -   var title = "Aunovit | Contacto";

    -
        var menu = [
            { name: "Empresa", url: "./empresa.php", active: false },
            { name: "Productos", url: "./productos.php", active: false },
            { name: "Marcas", url: "./marcas.php", active: false },
            { name: "Contacto", url: "./contacto.php", active: true }
        ];
block content
    section.contacto-one.bg-primary
        img(src='img/contacto/section-one.png').w-100.mx-auto.d-lg-block.d-none
        img(src='img/contacto/section-one-mobile.png').w-100.mx-auto.d-lg-none.d-block
    section.container.mt-lg-7.mb-lg-7.col-11.col-md-12.px-3.px-md-auto.mb-1.mt-lg-n7.mt-5
        div.mt-lg-n9.mt-n9.pt-lg-0.pt-5
            h1.text-white.text-center Contacto
            p.text-white.text-center.mb-5.mb-lg-6.display-9 
                |Completa el formulario a continuación o comunícate #[br.d-none.d-lg-block]
                |por los otros canales de contacto.
        .card.border-0.px-lg-6.py-lg-5.rounded-4.px-4.py-4.shadow-none
            .row
                a(href='tel:+5491170780416').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center.mb-lg-0.mb-5
                    img(src='icon/audifono.png').mx-auto.d-block.mb-lg-4.mb-3
                    small.text-secondary.display-10.fw-normal Línea de teléfono
                    h5.text-primary.display-8.mt-lg-2.fw-normal
                        | +54 91 17078 0416
                a(href='https://wa.me/5491168581006').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center.d-lg-block.d-none
                    img(src='icon/whatsapp.png').mx-auto.d-block.mb-lg-4
                    small.text-secondary.display-10.fw-normal Whatsapp
                    h5.text-primary.display-8.mt-lg-2.fw-normal
                        | +54 91 16858 1006
                a(href='mailto:ventasmayor@aunovit.com').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center.d-lg-block.d-none
                    img(src='icon/email.png').mx-auto.d-block.mb-lg-4
                    small.text-secondary.display-10.fw-normal Correo electrónico
                    h5.text-primary.display-8.mt-lg-2.fw-normal
                        | ventasmayor@aunovit.com
            form.row.pt-lg-6(action='#')#contact
                .col-lg-6.form-floating.mt-3
                    input(type='text' class='form-control', id='name', name='name' placeholder='Nombre y apellido')
                    label(for='name').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Nombre y apellido
                .col-lg-6.form-floating.mt-3
                    input(type='text' class='form-control', id='business', name='business' placeholder='Negocio / Local')
                    label(for='business').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Negocio / Local
                .col-lg-6.form-floating.mt-3
                    input(type='tel' class='form-control', id='phone', name='phone' placeholder='Teléfono')
                    label(for='phone').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Teléfono
                .col-lg-6.form-floating.mt-3
                    input(type='email' class='form-control', id='email', name='email', placeholder='Correo electrónico')
                    label(for='email').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Correo electrónico
                .col-lg-6.form-floating.mt-3
                    input(type='text' class='form-control' id='address1', name='address1', placeholder='Localidad')
                    label(for='address1').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Localidad
                .col-lg-6.form-floating.mt-3
                    input(type='text' class='form-control' id='address2', name='address2', placeholder='Provincia')
                    label(for='address2').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Provincia
                .col-lg-6.form-floating.mt-3
                    textarea(type='text' class='form-control', id='message', name='message', placeholder='Asunto', style='min-height: 150px')
                    label(for='message').ms-lg-3.text-muted.opacity-50.ms-3.fw-ligh Mensaje
                .col-lg-6
                    p.mt-lg-3 ¿Ya tienes un negocio de repuestos?
                    .d-flex
                        .form-check
                            input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                            label.form-check-label(for='flexRadioDefault1')
                                | Si
                        .form-check.ms-lg-4.ms-4
                            input#flexRadioDefault2.form-check-input(type='radio' name='flexRadioDefault' checked='')
                            label.form-check-label(for='flexRadioDefault2')
                                | No
                    button.btn.btn-primary.mt-lg-4.mt-5(type='submit')
                        |Enviar
                        i.bi.bi-arrow-right.ms-2
