extends layouts/main.pug
block variables
    -   var title = "Aunovit | Empresa";

    -
        var menu = [
            { name: "Empresa", url: "./empresa.php", active: true },
            { name: "Productos", url: "./productos.php", active: false },
            { name: "Marcas", url: "./marcas.php", active: false },
            { name: "Contacto", url: "./contacto.php", active: false }
        ];
block content
    section.empresa-one.mb-lg-6.mb-6
        img(src="img/empresa/section-one.png").w-50.ms-auto.d-none.d-md-block.mt-lg-8
        img(src="img/empresa/section-one-mobile.png").w-100.ms-auto.d-block.d-md-none.mt-7.pt-5
        div.mt-lg-n10.mt-n9
            h1.text-center.text-primary.pt-lg-3.d-none.d-md-block.fw-light
                | Aunovit, llega a tu mostrador para #[br.d-none.d-lg-block]
                | garantizar el #[span.text-secondary servicio de un especialista.]
            h1.text-center.text-primary.pt-lg-3.d-md-none.d-block.fw-light.mb-5.display-4.px-4
                | Aunovit, llega a tu mostrador para #[br.d-none.d-lg-block]
                | garantizar el #[span.text-secondary servicio de un especialista.]
            .row.col-lg-8.mx-auto.mt-lg-6
                .col-lg-6.text-primary.fw-light.text-center.text-lg-start.col-10.mx-auto
                    div.display-8.fw-bolder
                        | Contamos con un moderno centro de distribución 6000mts2 para cumplir a diario las necesidades de
                        | nuestros clientes y más de 25000mts2 en depósitos.
                    | #[br]
                    | Somos especialistas y nos enfocamos en cubrir el 100% de las demandas de las marcas que representamos.
                .col-lg-6.text-primary.fw-light.text-center.text-lg-start.mt-3.mt-lg-0.col-10.mx-auto
                    | Contamos con la distribución oficial y exclusiva de las marcas Taxim y Nimax, hoy posicionadas las marcas más importantes
                    | del mercado aftermarket para Renault y Volkswagen, acompañadas de las principales marcas de repuestos que necesita tu mostrador
                    | con el mejor precio garantizado.
                    | #[br]
                    | #[br]
                    | Si sos especialista en Renault o Volkswagen necesitás un especialista como Aunovit.
    section.empresa-two
        div.mb-lg-9.mb-5.pb-6
            img.img-fluid(src='img/empresa/section-two.png').z-n1.d-none.d-md-block
            img.img-fluid(src='img/empresa/section-two-mobile.png').z-n1.d-md-none.d-block
            div.mt-lg-n10.mt-n10.pt-6
                h1.text-center.text-white.pt-lg-3.d-none.d-md-block.fw-light
                    |¿Todavía no sos cliente? #[br.d-none.d-lg-block]
                    | Contactá con nosotros.
                h1.text-center.text-white.pt-lg-3.d-md-none.d-block.fw-light.display-3
                    | ¿Todavía no sos #[br] cliente? #[br]
                    | Contactá con nosotros.
                .d-flex.justify-content-center.mt-5
                    a(href="./contacto.php").btn.btn-secondary
                        | Contactanos aquí
                        i.bi.bi-arrow-right.ms-2
    .mt-lg-n9.mt-n5
        include components/_big_card_services.pug

    br.d-block.d-lg-none
    br.d-block.d-lg-none
    br.d-block.d-lg-none
    include components/_slider_card.pug