extends layouts/main.pug
block variables
    -   var title = "Aunovit | Inicio";

    -
        var menu = [
            { name: "Empresa", url: "./empresa.php", active: false },
            { name: "Productos", url: "./productos.php", active: false },
            { name: "Marcas", url: "./marcas.php", active: false },
            { name: "Contacto", url: "./contacto.php", active: false }
        ];
block content
    section.one
        div.mb-lg-9.mb-5.pt-lg-6
            img.img-fluid(src='img/home/section-one.png').z-n1.d-none.d-md-block
            img.img-fluid(src='img/home/section-one-mobile.png').z-n1.d-md-none.d-block
            div.mt-lg-n10.mt-n8
                div.text-center.text-white.pt-lg-3.d-none.d-md-block
                    h1.fw-light Somos tu mayorista de autopartes #[br.d-none.d-lg-block]
                    h1.fw-semibold Renault y Volkswagen
                h1.text-center.text-white.pt-lg-3.d-md-none.d-block.fw-light
                    | Somos tu mayorista de #[br.d-none.d-lg-block]
                    | autopartes #[b.fw-bold Renault y Volkswagen]
    section.two.container.pt-lg-5.col-10.col-lg-12
        .card.border-0.flex-lg-row.align-items-center.justify-content-center.rounded-4.px-lg-4.py-lg-5.py-5
            div.col-lg-4.col-12.d-flex.justify-content-center
                h5.text-center.text-lg-start.display-8.text-primary.d-none.d-lg-block.fw-semibold Nuestras Marcas propias
                h5.text-center.text-lg-start.display-7.text-primary.d-block.d-lg-none.fw-bolder Nuestras Marcas propias
            div.d-flex.justify-content-center.mt-5.mt-lg-0.mt-md-auto.align-items-center.d-lg-flex
                img(src='img/marcas/taxim.png').w-55
            div.d-flex.justify-content-center.mt-5.mt-lg-0.mt-md-auto.align-items-center.d-lg-flex
                img(src='img/marcas/magal.png').w-55
            div.d-flex.justify-content-center.mt-5.mt-lg-0.mt-md-auto.align-items-center.d-lg-flex
                img(src='img/marcas/nimax.png').w-55
    section.three.mt-lg-n7.mt-xxxl-n4.mt-n9.pt-lg-3
        .row.flex-wrap
            .col-lg-7.align-items-center.d-flex.justify-content-center.order-md-0.order-1
                h5.text-center.text-lg-center.display-6.d-none.d-md-block
                    | #[span.text-secondary Tu partner] #[br]
                    | #[span.text-primary experto en respuestos]
                h5.text-center.text-lg-center.display-3.d-block.d-md-none.mt-5
                    | #[span.text-secondary Tu partner] #[br]
                    | #[span.text-primary experto en respuestos]
            .col-lg-5.order-md-1.order-0
                img(src='img/home/section-three.png').w-100.ms-auto.d-none.d-md-block
                img(src='img/home/section-three-mobile.png').w-80.ms-auto.d-md-none.d-block
    section.four.mt-lg-6.container.pb-lg-6.mt-6.pb-6
        .row
            .col-lg-4.text-center
                | #[div.text-secondary.display-4.fw-bold +  #[span.counter(data-count="1500") 0] ]
                | #[div.text-primary.display-9.fw-normal entregas semanales]
            .col-lg-4.text-center.mt-md-auto.mt-5.position-relative.rayas-vertical
                | #[div.text-secondary.display-4.fw-bold + #[span.counter(data-count="90000") 0]]
                | #[div.text-primary.display-9.fw-normal procuctos]
            .col-lg-4.text-center.mt-md-auto.mt-5
                | #[div.text-secondary.display-4.fw-bold + #[span.counter(data-count="800") 0]]
                | #[div.text-primary.display-9.fw-normal Clientes felices]
    include components/_slider_card.pug
    br.d-block.d-lg-none
    br.d-block.d-lg-none
    br.d-block.d-lg-none
    include components/_big_card_services.pug
    section.seven.mt-lg-n8.z-1.pb-lg-6.pb-6
        img.img-fluid(src='img/home/section-seven.png').w-55.mb-lg-7.ms-auto.d-none.d-md-block
        .container.mt-lg-n10.pt-lg-6.pt-6
            .owl2.owl-carousel
                .testimonials-item.d-flex.col-lg-9.flex-wrap.col-11
                    .col-lg-8.pe-lg-6.order-lg-0.order-1
                        .header-testimonials.d-flex.mt-5.mt-md-0
                            h5.text-secondary.fw-bold.display-9 #[.count 1/2]
                            h5.ms-3.text-white.fw-bold.display-9 REPUESTOS SANTA ROSA (LA PAMPA)
                        .header-body.text-white.fw-light.mt-lg-4.mt-4
                            | En Repuestos Santa Rosa comenzamos a trabajar fuerte con ésta empresa comenzando la pandemia y gracias a ellos pudimos seguir trabajando y creciendo día a día debido a su política empresarial donde nunca nos soltaron la mano, nunca cortaron la disponibilidad de repuestos, pudiendo siempre trabajar con previsibilidad, y buscando el mejor negocio para ambos.
                            | #[br]
                            | #[br]
                            | Respecto al capital humano, no puedo más que decir que unos genios todos, desde ventas hasta el viejo Snaider, pasando por sus hijos y Gonza. Siempre dispuestos a encontrar una solución y seguir creciendo junto a sus clientes. Y respecto a los productos una ventaja que cuenten con originales, primeras marcas y las propias, toda la gama de calidades y precios. Gracias por acompañarnos ahora y siempre
                    .col-lg-4.align-items-end.d-lg-flex.order-lg-1.order-0
                        img(src='img/testimonials/img.png').w-100.d-none.d-lg-block
                        img(src='img/testimonials/img.png').w-80.d-block.d-lg-none.mx-auto
                .testimonials-item.d-flex.col-lg-9.flex-wrap.col-11
                    .col-lg-8.pe-lg-6.order-lg-0.order-1
                        .header-testimonials.d-flex.mt-5.mt-md-0
                            h5.text-secondary.fw-bold.display-9 #[.count 2/2]
                            h5.ms-3.text-white.fw-bold.display-9 RENAULT SUR (POSADAS-MISIONES)
                        .header-body.text-white.fw-light.mt-lg-4.mt-4
                            | En Renault Sur contamos con la línea completa de los excelente productos Taxim, y destacamos la tan amable y cálida atención de todo el equipo de Aunovit.
                    .col-lg-4.align-items-end.d-lg-flex.order-lg-1.order-0
                        img(src='img/testimonials/img_1.png').w-100.d-none.d-lg-block
                        img(src='img/testimonials/img_1.png').w-80.d-block.d-lg-none.mx-auto
    section.eight.d-lg-flex.pb-lg-7
        img(src='img/home/section-eight.png').w-50.d-none.d-lg-block
        img(src='img/home/section-eight-mobile.png').w-100.d-block.d-lg-none.mx-auto
        .col-lg-6.ms-lg-auto.align-items-center.d-flex.justify-content-center.pt-lg-6
            div
                h2.text-primary.display-6.text-center.d-none.d-lg-block
                    | Soluciona todos tus #[br.d-none.d-lg-block] pedidos con aunovit.
                h2.text-primary.display-3.text-center.d-block.d-lg-none.mt-5
                    | Soluciona todos tus #[br.d-none.d-lg-block] pedidos con aunovit.
                div.d-flex.justify-content-center.mt-4
                    a.btn.btn-secondary
                        |Solicitar cuenta
                        i.bi.bi-arrow-right.ms-2