extends layouts/_login.pug
block content
    section.login
        img(src="img/login/login.png", alt="", srcset="", style="object-fit: cover; object-position: center; top: 0; bottom: 0").vw-100.vh-100.d-md-block.d-none.position-absolute
        .card.shadow-none.col-lg-4.mx-lg-auto.rounded-5.py-lg-5.px-lg-5.border-0.col-10.mx-auto.mt-lg-6
            .card-header.border-0.pt-lg-0.pt-5.bg-white
                img(src="img/logo.svg").mx-auto.d-block
                p.text-center.mt-lg-4.mt-4
                    | Accede aquí para decargar la #[br]
                    | lista de precios:
            .card-body
                form.form
                    .input-group.input-group-lg
                        span.input-group-text
                            img(src="icon/user.png", width="20")
                        input(type='text' placeholder='Nombre').form-control
                    .input-group.input-group-lg.mt-lg-4.mt-3
                        span.input-group-text
                            img(src="icon/key.png" , width="20")
                        input(type='password' placeholder='Nombre').form-control
                    .justify-content-center.d-flex.mt-lg-5.mt-5
                        button(type="submit").btn.btn-primary
                            | Acceso Clientes
                            i.bi.bi-arrow-right.ms-2

