extends layouts/main.pug
block variables
    -   var title = "Aunovit | Marcas";

    -
        var menu = [
            { name: "Empresa", url: "./empresa.php", active: false },
            { name: "Productos", url: "./productos.php", active: false },
            { name: "Marcas", url: "./marcas.php", active: true },
            { name: "Contacto", url: "./contacto.php", active: false }
        ];
block content
    section.mascas-one
        img(src="img/marcas/section-one.png").w-100.d-none.d-lg-block
        img(src="img/marcas/section-one-mobile.png").w-100.d-lg-none.d-block
        .container.mt-lg-n8.mt-n7
            .owlMarcas.owl-carousel
                .card.border-0.col-lg-11.my-lg-4.rounded-4.mx-4.mx-md-4.px-lg-4.py-lg-4.px-3.my-3
                    .py-lg-5.py-4
                        img.card-img-top(src="img/marcas/taxim.png", alt="...").rounded-top-4.w-50.mx-auto
                    .card-body
                        h5.card-title.text-primary Repuestos exclusivos para Renault
                        .mb-lg-4.mt-lg-3.mt-3.mb-4
                        p.card-text.fs-6
                            | Encontrándose en más de 300 mostradores especialistas de la marca a lo largo y ancho del país, Taxim nace en 2016 trayendo soluciones, buen precio y estándares de altísima calidad en cuanto a cualquier competencia aftermarket.

                .card.border-0.col-lg-11.my-lg-4.rounded-4.mx-4.mx-md-4.px-lg-4.py-lg-4.px-3.my-3
                    .py-lg-3.py-3
                        img.card-img-top(src="img/marcas/magal.png", alt="...").rounded-top-4.w-50.mx-auto
                    .card-body
                        h5.card-title.text-primary Variedad en autopartes, alineada a tus necesidades
                        .mb-lg-4.mt-lg-3.mt-3.mb-4
                        p.card-text.fs-6
                            | La marca más variada en el mundo aftermarket.
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                .card.border-0.col-lg-11.my-lg-4.rounded-4.mx-4.mx-md-4.px-lg-4.py-lg-4.px-3.my-3
                    .py-lg-5.py-4
                        img.card-img-top(src="img/marcas/nimax.png", alt="...").rounded-top-4.w-50.mx-auto
                    .card-body
                        h5.card-title.text-primary
                            | Repuestos exclusivos para Volkswagen
                        .mb-lg-4.mt-lg-3.mt-3.mb-4
                        p.card-text.fs-6
                            |La línea más confiable de repuestos para Volkswagen.
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
                            | #[br.d-none.d-lg-block]
    section.marcas-two
        h1.text-center.text-primary.pt-lg-3.d-none.d-md-block.fw-light.mt-lg-5
            | Nuestro stock permanente va de la mano de las #[br]
            | mejores marcas nacionales e internacionales.
        .container.pt-lg-5.d-none.d-md-flex.mx-auto.row
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/taxim.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/magal.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/nimax.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/vmg.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/hutchinson.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/spj.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/fadecya.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/fremeg.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/cauplas.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/corteco.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/capemi.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/vth.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/eyquem.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/kobla.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/omer.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/glacer.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/airtex.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/thompson.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/spicer.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/purflux.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/denso.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/duncan.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/litton.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/trico.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/mte-thomson.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/rm.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/Pulo-01.png", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/FREMEC.jpg", width="120").mx-4.my-3
            .col-lg-2.d-flex.align-items-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/Fitam-01ok.png", width="120").mx-4.my-3
        .container.pt-lg-5.d-block.d-md-none
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/taxim.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/magal.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/nimax.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/vmg.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/hutchinson.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-2s
                img(src="img/marcas/spj.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/fadecya.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/fremeg.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/cauplas.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/corteco.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/capemi.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-3s
                img(src="img/marcas/vth.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/eyquem.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/kobla.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/omer.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/glacer.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/airtex.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-4s
                img(src="img/marcas/thompson.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/spicer.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/purflux.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/denso.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/duncan.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/litton.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/trico.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/mte-thomson.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/rm.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/Pulo-01.png", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/FREMEC.jpg", width="200").mx-4.my-4
            .col-12.d-flex.align-items-center.justify-content-center.animate__animated.animate__bounce.animate__fadeIn.animate__delay-5s
                img(src="img/marcas/Fitam-01ok.png", width="200").mx-4.my-4
