extends layouts/main.pug
block variables
    -   var title = "Aunovit | Producto";

    -
        var menu = [
            { name: "Empresa", url: "./empresa.php", active: false },
            { name: "Productos", url: "./productos.php", active: true },
            { name: "Marcas", url: "./marcas.php", active: false },
            { name: "Contacto", url: "./contacto.php", active: false }
        ];
block content
    section.productos-one.flex-wrap.d-flex.d-lg-block
        img(src="img/productos/section-one.png").w-100.mt-lg-6.pt-2.d-lg-block.d-none.order-1.order-lg-0
        img(src="img/productos/section-one-mobile.png").w-100.mt-lg-6.pt-lg-2.mt-4.d-lg-none.d-block.order-1.order-lg-0
        .col-lg-5.me-auto.mt-lg-n10.pt-lg-1.order-lg-1.order-0.mt-7.pt-4
            h1.text-center.text-primary.display-4.pt-lg-4.d-lg-block.d-none
                | De paragolpe a #[br]
                | paragolpe
            h1.text-center.text-primary.display-4.pt-lg-4.d-block.d-lg-none
                | De paragolpe a #[br]
                | paragolpe
            .display-9.text-primary.text-center.mt-4.mt-lg-5.px-lg-0.px-5.lh-sm
                | Más de #[b.fw-bold 30.000] referencias en #[b.fw-bold stock continuo] #[br.d-none.d-lg-block]
                | y la representación de marcas líderes en el #[br.d-none.d-lg-block]
                | mercado en nuestro catálogo
            .justify-content-center.d-flex.mt-4.mt-lg-5.d-lg-flex.d-none
                a(href="./contacto.php").btn.btn-secondary
                    | Solicitar cuenta
                    i.bi.bi-arrow-right.ms-2

    section.productos-two
        .mt-lg-8.pt-lg-5.mt-5
            h1.text-center.text-primary.pt-lg-3.d-none.d-md-block.fw-light
                | Nuestras líneas de productos para Renault y VW #[br.d-none.d-lg-block]
                | #[span.text-secondary abarcan la totalidad de tus necesidades.]
            h1.text-center.text-primary.pt-lg-3.d-md-none.d-block.fw-light.mb-5.display-4.px-4
                | Nuestras líneas de productos para Renault y VW
                | #[span.text-secondary abarcan la totalidad de tus necesidades.]
            div.display-8.fw-normal.text-center.text-primary.mt-lg-4
                | Contamos con más de 90 productos en stock permanente  #[br.d-none.d-lg-block]
                | para satisfacer todas tus necesidades de autopartes.
            div.display-6.fw-normal.text-center.text-primary.mt-lg-6.mt-5
                | Aunovit lo tiene.
    .mt-lg-n7.z-n1.position-relative.mt-n8
        img(src="img/productos/section-three.png").w-60.ms-lg-7.d-lg-block.d-none
        img(src="img/productos/section-three-mobile.png").w-80.ms-lg-7.d-block.d-lg-none.mt-3
        div.mt-lg-n11.pt-lg-8
            include components/_big_card_services.pug